@import '../../design-tokens/component.scss';

/**
 * A full page width banner for new pet page
 * design - https://xd.adobe.com/view/08948972-5e2f-40f0-b043-fcb1d0c08acf-5dc7/specs/
 */
.campaign-hero-banner {
    align-items: center;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--sparky-theme-color-body-foreground);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 188px;
    flex-grow: 1;
    margin: 0 auto;


    //desktop
    @media all and (min-width: 992px) {
        height: 392px;

        .campaign-hero-banner__container {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            height: 392px;
            flex-basis: 1240px;
            margin: 0 auto;
            flex-direction: row !important;
            flex-wrap: nowrap;
        }

        .campaign-hero-banner:nth-child(2) {
            flex-grow: 1;
            flex-shrink: 0;
            order: 2;
            width: 456px;
        }

        .campaign-hero-banner:nth-child(1) {
            width: 392px;
        }

        .campaign-hero-banner:nth-child(3) {
            width: 392px;
        }

        .campaign-hero-banner_textblock__headline {
            font-size: var(--sparky-font-size-24) !important;
        }

        .campaign-hero-banner_textblock__largeTitle {
            font-size: 56px !important;
        }

        .campaign-hero-banner_textblock__title {

            font-size: var(--sparky-font-size-40) !important;
        }

        .campaign-hero-banner_textblock__descripton {
            font-size: var(--sparky-font-size-20) !important;
            padding: 16px 0 16px 0;

        }

        .campaign-hero-banner_textblock__caption {
            font-size: var(--sparky-font-size-12) !important;
            text-transform: none !important;
        }

        .campaign-hero-banner_textblock__dollars {
            font-size: 80px !important;
            height: 80px;
        }

        .campaign-hero-banner_textblock__offer {
            font-size: 32px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            line-height: 33px !important;
        }

        .campaign-button-caption-toggle {
            display: flex;
            flex-direction: column;
        }

        .campaign-button-caption-toggle .campaign-hero-banner_textblock__caption {
            padding: 0 0 16px 0;
        }

        .oneline {
            height: 80px;
            justify-content: center;
        }

        .campaign-hero-banner .campaign-hero-banner:first-child {
            min-width: 392px !important;
        }
    }
}

.campaign-hero-banner:nth-child(2) {
    flex-grow: 1;
    flex-shrink: 1;
    order: 3;
    width: 376px;
}

.campaign-hero-banner:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 0;
    order: 1;
    min-width: 188px;
}

.campaign-hero-banner:nth-child(3) {
    flex-shrink: 0;
    order: 2;
}


.campaign-button-caption-toggle {
    display: flex;
    flex-direction: column;
}

.campaign-hero-banner--inverted {
    color: #fff !important;
}

/**
 * Campaign hero banner container
 * Internal container for banner image, title and description
 */
.campaign-hero-banner__container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

/**
 * Campaign hero banner text block
 * Internal container for title and description
 */
.campaign-hero-banner__textblock {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    width: 375px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;


    @media all and (min-width: $sparky-bp-md) {
        right: auto;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        top: auto;
    }

    @media all and (min-width: $sparky-bp-lg) {
        max-width: 100%;
    }
}

.campaign-hero-banner__textblock_padded {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    width: 375px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;


/* 768px or 48rem */
    @media all and (min-width: $sparky-bp-md) {
        right: auto;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        top: auto;

        .campaign-hero-banner:nth-child(2) {
            flex-grow: 1;
            flex-shrink: 1;
            order: 2 !important;
            width: 376px;
        }

    }

    /* 960px or 60em */
    @media all and (min-width: $sparky-bp-lg) {
        max-width: 100%;
    }
}

.campaign-hero-banner__textblock_padded {
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    width: 375px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;


    @media all and (min-width: $sparky-bp-md) {
        right: auto;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        top: auto;

    }

    @media all and (min-width: $sparky-bp-lg) {
        max-width: 100%;
    }
}

.sparky-hp-hero-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.campaign-hero-banner_textblock__headline {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-20) !important;
    font-weight: var(--sparky-font-weight-bold) !important;
    letter-spacing: normal !important;
    line-height: var(--sparky-line-height-xl) !important;
    text-transform: none !important;

}

.campaign-hero-banner_textblock__title {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-36) !important;
    font-weight: var(--sparky-font-weight-bold) !important;
    letter-spacing: normal !important;
    line-height: var(--sparky-line-height-xl) !important;
    text-transform: none !important;
}

.campaign-hero-banner_textblock__largeTitle {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-40) !important;
    font-weight: var(--sparky-font-weight-bold) !important;
    letter-spacing: normal !important;
    line-height: var(--sparky-line-height-xl) !important;
    text-transform: none !important;
}

.campaign-hero-banner_textblock__descripton {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-16) !important;
    font-weight: var(--sparky-font-weight-regular) !important;
    letter-spacing: normal !important;
    line-height: var(--sparky-line-height-xl) !important;
    text-transform: none !important;
    padding: 16px 8px;

}

.campaign-hero-banner_textblock__caption {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-12) !important;
    font-weight: var(--sparky-font-weight-regular) !important;
    letter-spacing: normal !important;
    line-height: var(--sparky-line-height-xl) !important;
    text-transform: none !important;
    margin-top: 0;
    padding: 0 0 16px 0;

}

.campaign-hero-banner_textblock__dollars {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: 64px !important;
    font-weight: var(--sparky-font-weight-bold) !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    height: 64px;
}

.campaign-hero-banner_textblock__offer {
    font-family: var(--sparky-font-family-primary) !important;
    font-size: var(--sparky-font-size-28) !important;
    font-weight: var(--sparky-font-weight-bold) !important;
    text-transform: none !important;
    flex-wrap: wrap;
    display: flex;
    top: -24px;
    position: relative;
    justify-content: flex-start;
    height: 100%;
    width: 50px;
    line-height: 24px !important;
}

.campaign-button-caption-toggle--isOffer {
    flex-direction: column !important;
}

.campaign-button-caption-toggle {
    display: flex;
    flex-direction: column-reverse;
}

/* combines dollars and offer onto same line */
.oneline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    margin-bottom: 8px;
    align-items: flex-start;
}

.campaign-button-caption-toggle .campaign-hero-banner_textblock__caption {
    font-size: var(--sparky-font-size-12) !important;
    margin-top: 0;
    padding: 20px 0 16px 0;
}

.campaign-button-caption-toggle--isOffer .campaign-hero-banner_textblock__caption {
    font-size: var(--sparky-font-size-12) !important;
    margin-top: 0;
    padding: 0 0 16px 0;
}

.textDecorationThickness:hover {
    text-decoration-thickness: 1px;
    text-underline-offset: inherit;
}

/* Tablet Support */
@media(min-width:750px) and (max-width:991px){

    .campaign-hero-banner:nth-child(2) {
        order:2 !important;
    }

    .campaign-hero-banner:nth-child(3){
        order:3 !important;
    }

    .campaign-hero-banner__container{
        padding: 0 2px !important;
    }

}
