/*------------------------------------*\
    #TABSLAYOUT
\*------------------------------------*/



.tabs-title-styling {
    // white-space: pre-line;
    .sparky-c-tabs__header {
       /* text-align: center;*/
        background: transparent;
    }

    .sparky-c-tabs__item.sparky-is-active .sparky-c-tabs__link {
        box-shadow: inset 0 calc(var(--sparky-border-width-md)*-2) calc(var(--sparky-border-width-md)*1) calc(var(--sparky-border-width-md)*-1) var(--sparky-theme-color-primary-border);
        color: var(--sparky-theme-color-body-foreground);
        font-weight: 500;
    }
}

// fixes multiple line tab titles
.sparky-c-tabs__item--small .sparky-c-tabs__link{
    white-space: nowrap;
}

